.page-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  min-height: 100vh;
  width: 100vw;
}
.register-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.register-image {
  max-height: 80vh;
  width: 50%;
}
.register-container {
  width: 50%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-head {
  color: hsl(26, 96%, 50%);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.input {
  width: 300px;
  height: 40px;
  outline: none;
  border-radius: 8px;
  align-self: center;
  margin-bottom: 20px;
  border: 1.5px solid #bfbfbf;
  padding: 10px;
}
.input::placeholder {
  font-size: 15px;
}
select {
  font-size: 15px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .register-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .register-image {
    height: 100%;
    width: 100%;
  }
  .register-container {
    height: 100%;
    width: 100%;
  }
}
.green {
  color: green;
}
.red {
  color: red;
}
